## KNN imputer

Dựa trên file dataset **T_Shirt_size.csv"**, xóa vài ô và dùng thuật toán KNN imputer để điền lại và đồng thời đánh giá độ chính xác giá trị đoán với giá trị ban đầu.

In [1]:
import pandas as pd
import numpy as np

## Tạo dataset

In [2]:
# Đọc dataset
T_Shirt_size = pd.read_csv("./data/T_Shirt_size.csv")
T_Shirt_size.head()

# Số lượng ô muốn xóa
n_missing = 5

# Chọn cột muốn xóa ô dữ liệu
cols_to_mask = ['Height (cm)', 'Weight (kg)']

for _ in range(n_missing):
    row_idx = np.random.randint(0, len(T_Shirt_size))
    col_name = np.random.choice(cols_to_mask)
    T_Shirt_size.loc[row_idx, col_name] = np.nan

# xử lý cột T shirt size bằng kỹ thuật One-hot Encoding
T_Shirt_size['is_M_size'] = np.where(T_Shirt_size['T shirt size'] == "M", 1, 0)
T_Shirt_size['is_L_size'] = np.where(T_Shirt_size['T shirt size'] == "L", 1, 0)
T_Shirt_size = T_Shirt_size.drop("T shirt size", axis=1)

data = T_Shirt_size
data

    Height (cm)  Weight (kg)  is_M_size  is_L_size
0         158.0         58.0          1          0
1           NaN         59.0          1          0
2         158.0         63.0          1          0
3         160.0         59.0          1          0
4         160.0          NaN          1          0
5           NaN         60.0          1          0
6           NaN         61.0          1          0
7         160.0         64.0          0          1
8         163.0         64.0          0          1
9         165.0         61.0          0          1
10        165.0         62.0          0          1
11        165.0         65.0          0          1
12        168.0         62.0          0          1
13        168.0         63.0          0          1
14        168.0         66.0          0          1
15        170.0         63.0          0          1
16        170.0         64.0          0          1
17        170.0          NaN          0          1

## Tính khoảng cách

In [21]:
X = data[["Weight (kg)", "is_M_size", "is_L_size"]]
y = data["Height (cm)"]

def nan_euclidean_dist(a, b):
    n = len(a)

    # mask cho các cột chung
    mask = ~np.isnan(a) & ~np.isnan(b)
    n_common = np.sum(mask)

    # Nếu không có cột chung nào, trả về vô cực hoặc giá trị mặc định
    if n_common == 0:
        return np.inf
    
    # Tính tổng số bình phương khoảng cách trên các cột chung
    sum_sq = np.sum((a[mask] - b[mask])**2)

    # Áp dụng công thức phóng đại
    dist = np.sqrt((n / n_common) * sum_sq)
    return dist

# dist = nan_euclidean_dist(X, b)

In [48]:
nan_value = X.iloc[1]
distance = []
for index in range(len(y)):
    if index == 1: continue
    distance.append(nan_euclidean_dist(nan_value, X.iloc[index]))

dis = np.array(distance)
indices = np.argsort(distance)
k_nearest_indices = indices[:3]
prediction = y[k_nearest_indices].sum() / 3
prediction

np.float64(158.66666666666666)